<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #container {
        display: flex;
    }

    #container .column {
        height: 400px;
        text-align: center;
    }

    #center {
        flex: 1;
        background-color: pink;
    }

    #left {
        width: 200px;
        background-color: purple;
    }

    #right {
        width: 200px;
        background-color: salmon;
    }
</style>

<body>
    <div id="container">
        <div id="left" class="column"></div>
        <div id="center" class="column"></div>
        <div id="right" class="column"></div>
    </div>
</body>

</html>